name: Build and Publish JS SDK Package

on:
  push:
    tags: [js-sdk-v*]

permissions:
  contents: write

jobs:
  publish:
    name: Build and publish SDK to NPM
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        working-directory: ./packages/sdk/js/
        run: npm ci

      - name: Publish package
        run: npm publish --access=public
        working-directory: ./packages/sdk/js/
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
